<%= simple_form_for([@sheet, @entry]) do |f| %>

	<div class="row">
		<div class="col-lg-4 col-md-4">
			<div class="form-group">
					<%= f.input :date, 
						label: "Report Month", 
						as: :string,
						input_html: {
							class: 'form-control datepicker',
							value: @entry.date.try(:strftime, "%m/%d/%Y")
						} 
					%>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<div class="form-group">
				<%= f.association :property, 
						collection: current_user.properties.active.order(:address).map { |p| [p.address, p.id] }, 
						input_html: {class: 'form-control'}
					%>
			</div>
		</div>
		<div class="col-lg-6  col-md-6">
			<div class="form-group">
				<%= f.association :entry_category ,
						collection: EntryCategory.all.order(:name),
						input_html: {class: 'form-control'}
				%>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6">
			<%= f.input :account, input_html: {class: 'form-control'} %>
		</div>
		<div class="col-lg-6 col-md-6">
			<%= f.input :amount, input_html: {class: 'form-control'} %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<%= f.input :description, as: :text, input_html: {class: 'form-control'} %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<%= f.submit 'Save Entry', class: 'btn btn-primary' %>
		</div>
	</div>

<% end %>

<script type="text/javascript">
	$(document).ready(function() {

		$('.datepicker').datepicker({
			format: "mm/dd/yyyy",
			orientation: 'bottom'
		});

		$('select').select2();
	});
</script>