<div class="row">
	<div class="col-lg-6 col-md-6">
		<div class="header">
			<h1>My Reports</h1>
		</div>
	</div>
	<div class="col-lg-6 col-md-6">
		<div class="pull-right">
			<%= button_tag("New Sheet", class: 'btn btn-primary', id: 'new-sheet-button') %>
			<div id="sheet-form">
				<%= simple_form_for(:sheet) do |f| %>
					<div class="form-group">
						<%= f.input :title, 
								input_html: {class: 'form-control', placeholder: 'Report Title'} 
						%>
					</div>
					<%= f.submit "Create", class: 'btn btn-primary' %>
					<%= button_tag("Cancel", id: 'cancel-sheet-button', class: 'btn btn-default') %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<table class="table">
	<thead>
		<tr>
			<th>Report Name</th>
			<th>Date Created</th>
			<th>Last Update</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% current_user.sheets.each do |s| %>
		<tr>
			<td><%= s.title %></td>
			<td><%= s.created_at.strftime("%m/%d/%Y") %></td>
			<td><%#= s.updated_at.strftime("%m/%d/%Y") %></td>
			<td><%= link_to "View", sheet_path(s), class: 'btn btn-default' %></td>
		</tr>
	<% end %>
	</tbody>
	</table>
</div>

<script type="text/javascript">
	
	$(document).ready(function() {
		showForm(false);

		$('#new-sheet-button').on('click', function(event) {
			showForm(true);
		});

		$('#cancel-sheet-button').on('click', function(event) {
			event.preventDefault();
			showForm(false);
		});

		function showForm(on) {
			$('#sheet-form').toggle(on);
			$('#new-sheet-button').toggle(!on)
		}
	});

</script>