<div class="row">
	<div class="col-lg-12">
		<div class="header">
			<h1><%= @sheet.title %></h1>
			<%= link_to "New Entry", new_sheet_entry_path(@sheet), class: 'btn btn-primary btn-lg' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#entries" aria-controls="entries" role="tab" data-toggle="tab">Entries</a></li>
			<li role="presentation"><a href="#income_statement" aria-controls="income_statement" role="tab" data-toggle="tab">Income Statement</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="entries">
			<%= render partial: 'sheets/entries', locals: { sheet: @sheet } %>
		</div>
		<div role="tabpanel" class="tab-pane" id="income_statement">
			<%= render partial: 'sheets/income_statement', locals: { sheet: @sheet } %>
		</div>
	</div>
</div>

<!--
<div class="row">
	<div class="col-lg-8">
		<%= render partial: 'sheets/income_statement', locals: { sheet: @sheet } %>
	</div>
	<div class="col-lg-4">
		<div class="col-lg-12">
			<div class="top-display">
				<label>Total Income</label>
				<p><%= number_to_currency(@sheet.total_credit) %></p>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="top-display">
				<label>Operating Expenses</label>
				<p><%= number_to_currency(@sheet.operating_expenses) %></p>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="top-display">
				<label>Total Expenses</label>
				<p><%= number_to_currency(@sheet.total_debt) %></p>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="top-display">
				<label>Net Operating Income</label>
				<p><%= number_to_currency(@sheet.noi) %></p>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="top-display">
				<label>Total Cashflow</label>
				<p><%= number_to_currency(@sheet.cash_flow) %></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="top-display">
			<label>Total Cashflow</label>
			<p><%= number_to_currency(@sheet.cash_flow) %></p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="top-display">
			<label>Total Expenses</label>
			<p><%= number_to_currency(@sheet.total_debt) %></p>
		</div>
	</div>
	<div class="col-lg-4 report-hero">
		<div class="top-display">
			<label>Net Operating Income</label>
			<p><%= number_to_currency(@sheet.noi) %></p>
		</div>
	</div>
</div>
!-->