<h1><%= @sheet.title %></h1>
<%= link_to "New Entry", new_sheet_entry_path(@sheet), class: 'btn btn-primary' %>

<table class="table">
<thead>
	<tr>
		<th>Date</th>
		<th>Amount</th>
		<th>Account</th>
		<th>Property</th>
		<th>Category</th>
		<th>Description</th>
	</tr>
</thead>
<tbody>
<% @sheet.entries.each do |entry| %>
	<tr>
		<td><%= entry.date.strftime("%m/%d/%Y") %></td>
		<td><%= number_to_currency(entry.amount) %></td>
		<td><%= entry.account %></td>
		<td><%= entry.property %></td>
		<td><%= entry.entry_category %></td>
		<td><%= entry.description %></td>
	</tr>
<% end %>
</tbody>
</table>