<h2>Edit Monthly Report For <%= @report.month_year %></h2>
<%= simple_form_for([@deal, @report]) do |f| %>
	<%= render partial: 'form', locals: {f: f} %>
	<%= link_to 'Cancel', 'javascript:history.go(-1);', class: 'btn btn-default btn-lg pull-right' %>
	<%= f.submit "Edit Report", class: 'btn btn-primary btn-lg btn-submit pull-right' %>
<% end %>