<div class="section-header">
	<h2>Links</h2>
	<%= link_to "New Link", new_deal_link_path(deal), class: 'btn btn-primary btn-md' %>
</div>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Link</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% deal.links.each do |l| %>
		<tr>
			<td><%= l.name %></td>
			<td><%= link_to(l.url, l.url, target: '_blank') %> <%= fa_icon('external-link') %></td>
			<td><%= link_to "Edit", edit_deal_link_path(deal, l), class: 'btn btn-warning btn-sm' %> <%= link_to "Delete", deal_link_path(deal, l), method: :delete, class: 'btn btn-danger btn-sm' %></td>
		</tr>
		<% end %>
	</tbody>
</table>