<div class="row">
	<%= link_to "New Monthly Report", new_deal_monthly_report_path(deal), class:"btn btn-default" %>
</div>

<div class="row">
	<table class="table">
		<thead>
		<tr>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Income</th>
			<th>Expenses</th>
			<th>Cash Flow</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<% @deal.monthly_reports.each do |report| %>
			<tr>
				<td><%= report.start_date_display %></td>
				<td><%= report.end_date_display %></td>
				<td><%= number_to_currency(report.total_income) %></td>
				<td><%= number_to_currency(report.total_expenses) %></td>
				<td><%= number_to_currency(report.cash_flow) %></td>
				<td><%= link_to "Delete", deal_monthly_report_path(deal, report), method: :delete, class: 'btn btn-danger btn-sm' %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>