<% if deal.present? %>

	<div class="row">
		<div class="col-lg-3 col-md-3">
			<div class="top-display">
				<label>Monthly Income</label>
				<p><%= number_to_currency(deal.total_income) %></p>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div class="top-display">
				<label>Monthly Expenses</label>
				<p><%= number_to_currency(deal.total_expenses) %></p>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div class="top-display">
				<label>Monthly Cashflow</label>
				<p><%= number_to_currency(deal.cash_flow) %></p>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div class="top-display">
				<label>Purchase Cap Rate</label>
				<p><%= "#{deal.purchase_cap_rate}%" %></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3">
			<div class="top-display">
				<label>NOI</label>
				<p><%= number_to_currency(deal.noi) %></p>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div class="top-display">
				<label>Total Cash Needed</label>
				<p><%= number_to_currency(deal.total_cash_needed) %></p>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div class="top-display">
				<label>Cash on Cash ROI</label>
				<p><%= "#{deal.cash_on_cash_roi}%" %></p>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div class="top-display">
				<label>Market Value</label>
				<p><%= number_to_currency(deal.market_value) %></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<h4>Financing</h4>
		</div>
		<div class="col-lg-4">
			<h4>Loan</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div>
				<label>Purchase Price:</label><span class="pull-right"><%= number_to_currency(deal.purchase_price) %></span>
			</div>
			<div>
				<label>Closing Costs:</label><span class="pull-right"><%= number_to_currency(deal.closing_costs) %></span>
			</div>
			<div>
				<label>Estimated Repairs:</label><span class="pull-right"><%= number_to_currency(deal.estimated_repairs) %></span>
			</div>
			<div>
				<label>Total Project Cost:</label><span class="pull-right"><%= number_to_currency(deal.total_project_cost) %></span>
			</div>
			<div>
				<label>After Repair Value:</label><span class="pull-right"><%= number_to_currency(deal.arv) %></span>
			</div>
		</div>
	
		<% l = deal.loans.first %>
		<div class="col-lg-4">
			<div>
				<label>Down Payment:</label><span class="values pull-right"><%= number_to_currency(l.down_payment) %><br/></span>
			</div>
			<div>
				<label>Loan Amount:</label><span class="pull-right"><%= number_to_currency(l.amount) %></span>
			</div>
			<div>
				<label>Loan Points:</label><span class="pull-right"><%= number_to_currency(l.points_payment) %></span>
			</div>
		</div>
		<div class="col-lg-4">
			<div>
				<label>Other Fees:</label><span class="pull-right"><%= number_to_currency(l.fees) %></span>
			</div>
			<div>
				<label>Ammortized Over:</label><span class="pull-right"><%= "#{l.ammortization} Years" %></span>
			</div>
			<div>
				<label>Monthly P&I:</label><span class="pull-right"><%= number_to_currency(l.monthly_payment) %></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<h4>Income</h4>
		</div>
		<div class="col-lg-9">
			<h4>Expenses</h4>
		</div>
		<div class="col-lg-3">
			<div>
				<label>Rental Income:</label><span class="pull-right"><%= number_to_currency(deal.gross_rent) %></span>
			</div>
			<div>
				<label>Other Income:</label><span class="pull-right"><%= number_to_currency(deal.other_income) %></span>
			</div>
		</div>
		<div class="col-lg-3">
			<div>
				<label>Mortgage:</label><span class="pull-right"><%= number_to_currency(deal.mortgage_expenses) %></span>
			</div>
			<div>
				<label>Insurance:</label><span class="pull-right"><%= number_to_currency(deal.insurance) %></span>
			</div>
			<div>
				<label>Taxes:</label><span class="pull-right"><%= number_to_currency(deal.property_tax) %></span>
			</div>
			<div>
				<label>Vacancy:</label><span class="pull-right"><%= number_to_currency(deal.vacancy_dollars) %></span>
			</div>
		</div>
		<div class="col-lg-3">
			<div>
				<label>Repairs:</label><span class="pull-right"><%= number_to_currency(deal.repairs_dollars) %></span>
			</div>		
			<div>
				<label>CapEx:</label><span class="pull-right"><%= number_to_currency(deal.cap_ex_dollars) %></span>
			</div>
			<div>
				<label>Management:</label><span class="pull-right"><%= number_to_currency(deal.property_management_dollars) %></span>
			</div>
			<div>
				<label>Operating Expenses:</label><span class="pull-right"><%= number_to_currency(deal.operating_expenses) %></span>
			</div>
		</div>
		<div class="col-lg-3">
			<%# Charts go here. %>
		</div>
	</div>
<% end %>