<div class="header">
	<h1>Your Deals</h1>
	<%= link_to "Analyze New Deal", new_deal_path, class: 'btn btn-primary btn-lg' %>
</div>
<div class="row">
<table class="table">
	<thead>
		<th>Address</th>
		<th>List Price</th>
		<th>Purchase Price</th>
		<th>Cap Rate</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @deals.each do |deal| %>
		<tr>
			<td><%= link_to deal.address_string, deal_path(deal) %></td>
			<td><%= number_to_currency(deal.list_price) %></td>
			<td><%= number_to_currency(deal.purchase_price) %></td>
			<td><%= "#{deal.purchase_cap_rate}%" %></td>
			<td><%= link_to "Edit", edit_deal_path(deal) %> | <%= link_to "NH Scout", deal.neighborhood_scout %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>