<div class="header">
	<div class="row">
		<h1><%= @deal.address_string %></h1>
		<% if @deal.status != Deal::STATUSES[2] %>
			<%= link_to "Make Active", activate_deal_path(@deal), method: :put, class: 'btn btn-default btn-lg' %>
		<% end %>
	</div>
</div>

<div class="row">
	<ul class="nav nav-tabs">
		<li  role="presentation" class="active"><a href="#analysis"  aria-controls="analysis" role="tab" data-toggle="tab">Analysis</a></li>
	  <li role="presentation"><a href="#links" aria-controls="links" role="tab" data-toggle="tab">Links</a></li>
	  <li role="presentation"><a href="#report" aria-controls="report" role="tab" data-toggle="tab">Reports</a></li>
	  <li role="presentation"><a href="#images" aria-controls="images" role="tab" data-toggle="tab">Images</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="analysis">
			<%= render partial: 'analysis', locals: {deal:@deal} %>
		</div>
		<div role="tabpanel" class="tab-pane" id="links">
			<%= render partial: 'links', locals: {deal:@deal} %>
		</div>
		<div role="tabpanel" class="tab-pane" id="report">
			<%= render partial: 'report', locals: {deal: @deal} %>
		</div>
		<div role="tabpanel" class="tab-pane" id="images">
			<%= render partial: 'images', locals: {deal: @deal} %>
		</div>
	</div>
</div>
