<div class="header">
	<div class="row">
		<h1><%= @deal.address_string %></h1>
		<%= link_to "Edit Deal", edit_deal_path(@deal), class: 'btn btn-primary btn-lg' %>
		<%= link_to "My Deals", deals_path, class: 'btn btn-default btn-lg' %>
		<% if @deal.status != Deal::STATUSES[2] %>
			<%= link_to "Make Active", activate_deal_path(@deal), method: :put, class: 'btn btn-default btn-lg' %>
		<% end %>
	</div>
</div>

<% if @deal.status == Deal::STATUSES[2] %>
	<%= render partial: 'report', locals: {deal: @deal} %>
<% else %>
	<%= render partial: 'analysis', locals: {deal: @deal} %>
<% end %>

