<div class="nested-fields">
	<div class="row">
		<div class="col-lg-6 col-md-6 form-group">
			<%= f.input :down_payment, label: "Down Payment", input_html: {class: 'form-control', id: 'down_payment'} %>
			<%= button_tag("5%", type: 'button', id: '5_percent', class: 'btn btn-default btn-sm') %>
			<%= button_tag("10%", type: 'button', id: '10_percent', class: 'btn btn-default btn-sm') %>
			<%= button_tag("15%", type: 'button', id: '15_percent', class: 'btn btn-default btn-sm') %>
			<%= button_tag("20%", type: 'button', id: '20_percent', class: 'btn btn-default btn-sm') %>
		</div>
		<div class="col-lg-6 col-md-6 form-group">
			<%= f.input :amount, label: "Loan Amount", input_html: { class: 'form-control', id: 'loan_amount'} %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 form-group">
			<%= f.input :interest_rate, label: "Interest Rate (%)", input_html: {class: 'form-control'} %>
		</div>
		<div class="col-lg-6 col-md-6 form-group">
			<%= f.input :ammortization, label: "Amortized Over How Many Years?", input_html: {class: 'form-control'} %>
		</div>
		<div class="col-lg-6 col-md-6 form-group">
			<%= f.input :points, label: "Loan Points", input_html: {class: 'form-control'} %>
		</div>
		<div class="col-lg-6 col-md-6 form-group">
			<%= f.input :fees, label: "Other fees", input_html: { class: 'form-control'} %>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {


		$('#5_percent').on('click', function(event) {
			setDownPayment(0.05);
		});

		$('#10_percent').on('click', function(event) {
			setDownPayment(0.1);
		});		

		$('#15_percent').on('click', function(event) {
			setDownPayment(0.15);
		});

		$('#20_percent').on('click', function(event) {
			setDownPayment(0.20);
		});

		$('#down_payment').on('change', function(event) {
			var amount = $('#purchase_price').val() - $('#down_payment').val();
			$('#loan_amount').val(amount);
		});

		function setDownPayment(percent) {
			var price = $('#purchase_price').val();
			$('#down_payment').val(price * percent);
			$('#loan_amount').val(price - $('#down_payment').val());
		}
	});
</script>